#container{
    background-color:rgb(247, 248, 250);
    width: 100%;
    height: auto;

}

#box{
    width: 100%;
    height: 50px;
    background-color: rgb(49, 109, 195);
}

#icon{
    
    width: 25%;
    height: 30px;
    float: left;
    margin: 5px;
}

#icon img{
    padding-left: 20px;
}

#text{
   
    width: 40%;
    height: 20px;
    float: left;
    margin: 5px;
    color: white;
    padding: 0px 5px 10px 5px;
}

#text p{
    font-size: 15px;
    
}


#button{

    width: 25%;
    height: 30px;
    float: left;
    margin: 5px 5px 5px 45px;
    padding: 3px;
}

#button button{
    width: 100px;
    height: 30px;
    
}


#box1{
   
    width: 100%;
    height: 60px;
}

#logo{
    
    width: 30%;
    height: 45px;
    margin: 5px;
    float: left;
}
#nav{
   
    width: 60%;
    height: 45px;
    margin: 10px 10px 10px 90px;
    float: left;
}

#nav li{
    display: inline-block;
    margin-top: 20px;
   
}

#nav li a{
    text-decoration: none;
    font-size: 15px;
    padding: 10px 10px 10px 20px;
    color: black;
      
}

#nav li a:hover{
    background-color: blue;
    border-radius: 50px;
    padding: 10px;
    color: white;
   
}


#box2{
    width: 100%;
    height: 515px;

    margin-top: 20px;
}

#box2 img{
    width: 100%;
    height: 515px;
}

#marquee{
    width: 90%;
    height: 30px;
    background-color: rgb(49, 109, 195);
    margin-left:  50px;
    margin-top: 15px;

}

#marquee p{
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}



#intro{
    width: 100%;
    height: 500px;

    margin-top: 15px;
}

#intro h1{
    text-align: center;
    color: rgb(49, 109, 195);
    
}
.align{
    text-align: center;
}
.color1{
    color: rgb(66, 121, 0);
    
}

#intro p{
    padding-left: 10%;
    font-size: 18px;
    padding-top: 10px;
    color: grey;
    text-align: justify; 
    
}

#box3{
    width: 100%;
    height: 300px;
    background-color: rgb(38, 85, 232);
    margin-top: 40px;
}

.part1{
    width: 22%;
    height: 200px;

    float: left;
    margin: 15px 15px;
    text-align: center;
    color: white;
    letter-spacing: 0px;
    padding-top: 50px;
    line-height: 5px;
}

.part1 h1{
    font-size: 55px;
}

.part1 img{
    width: 15%;
    height: 50px;
}

.color{
    color: rgb(0,255,0);
}


#box4{
    width: 100%;
    height: 600px;
    
    text-align: center;
    padding-top: 30px;
}

#box4 h1{
    color: rgb(49, 109, 195);
}

.box{
    width: 30%;
    height: 150px;
    background-color: white;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    padding-top: 50px;
}

.box h3{
    color:  rgb(49, 109, 195);;
}

#box5{
    width: 100%;
    height: 1200px;
    background-color: white;
    margin-top: 50px;
}

#bar{
    width: 55%;
    height: 500px;
    float: left;
    margin: 50px;
    padding-top: 20px;
    
}


#bar h1{
    color:  rgb(49, 109, 195);
    padding-bottom: 50px;
}

.side{
    width: 45%;
    height: 100px;
    background-color: rgb(247, 248, 250);   
    float: left;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.side h3{
    color: rgb(49, 109, 195);
}

#bar1{
    width: 25%;
    height: 500px;
    float: left;
    margin: 50px;
    padding-top: 20px;

    
}

#bar1 h1{
    color: rgb(49, 109, 195);
}

#para p{
    padding-top: 10px;
    color: rgb(137, 137, 137);
    background-color: white;
}

.blue{
    color: rgb(49, 109, 195);
}

#gallery{
    width: 100%;
    height: 400px;
    background-color: white;
    text-align: center;
}
#gallery h1{
    color: rgb(49, 109, 195);
}

#pics{
    float: left;
    margin-top: 50px;
}

#pics img{
    width: 220px;
    height: 220px;    
    padding-left: 20px;
}


#footer{
    width: 100%;
    height: 400px;
    background-color: rgb(37, 39, 46);

}

#part2{
    width: 30%;
    height: 300px;
    padding-top: 90px;
    padding-left: 70px;
    float: left;
    
}
#part2 p{
    color: rgb(165, 165, 166);
    
}

#inline{
    margin-left: 25px;
}

#part3{
    width: 20%;
    height: 300px;

    float: left;
    margin-left: 10px;
}

#part3 h4{
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    padding-top: 60px;
    
}

#part4{
    width: 40%;
    height: 300px;

    float: left;
    margin-left: 10px;
}

#part4 h4{
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    padding-top: 60px;
    
}

#part4 img{
    width: 30px;
    height: 30px;

}

#bar2{
    width: 100%;
    height: 50px;
    background-color: rgb(49, 109, 195);
    margin-top: -20px;
    color: white;
    padding-top: 10px;
    padding-left: 5px;

}